* {
  font-family: 'Outfit', sans-serif;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0; }

#header > div:nth-child(2) {
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  gap: 33px;
  min-height: 99px; }

#header > div:nth-child(1) {
  margin: 14px 20px 17px 46px;
  gap: 33px; }

.icons {
  min-height: 99px;
  cursor: pointer; }
  .icons div {
    border-right: 1px solid #000000;
    width: 125px; }
  .icons img {
    max-height: 20px; }
  .icons div:last-child {
    border-right: none; }

.search {
  border: 2px solid #000000;
  padding: 17px 20px 18px 23px;
  gap: 17.71px;
  max-width: 717px;
  cursor: pointer; }
  .search input {
    border: none;
    height: 20px; }
  .search input::placeholder {
    color: #000000;
    opacity: 1;
    font-weight: normal;
    font-size: 16px; }

.menu {
  gap: 33px; }

.logo {
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
  cursor: pointer; }

.link {
  font-size: 16px;
  color: #000000;
  text-decoration: underline;
  cursor: pointer; }

@media (min-width: 576px) {
  .logo {
    margin-left: 46px; } }
