$font-stack: Helvetica, sans-serif;
$color: #000000;
$border: 1px solid $color;
$border-2px: 2px solid $color;
$font-size: 16px;
$font-weight-normal: normal;
$font-weight-500: 500;
$gap: 33px;
$cursor: pointer;

* {
  font-family: 'Outfit', sans-serif;
  line-height: 20px;
  font-weight: $font-weight-500;
  letter-spacing: 0;
}

#header {
  > div:nth-child(2) {
    border-bottom: $border;
    border-top: $border;
    gap: $gap;
    min-height: 99px;
  }

  > div:nth-child(1) {
    margin: 14px 20px 17px 46px;
    gap: $gap;
  }
}

.icons {
  min-height: 99px;
  cursor: $cursor;

  div {
    border-right: $border;
    width: 125px;
  }

  img {
    max-height: 20px;
  }

  div:last-child {
    border-right: none;
  }
}

.search {
  border: $border-2px;
  padding: 17px 20px 18px 23px;
  gap: 17.71px;
  max-width: 717px;
  cursor: $cursor;

  input {
    border: none;
    height: 20px;
  }

  input::placeholder {
    color: $color;
    opacity: 1;
    font-weight: $font-weight-normal;
    font-size: $font-size;
  }
}

.menu {
  gap: 33px;
}

.logo {
  font-size: 30px;
  font-weight: $font-weight-500;
  line-height: 38px;
  cursor: $cursor;
}

.link {
  font-size: $font-size;
  color: $color;
  text-decoration: underline;
  cursor: $cursor;
}

@media (min-width: 576px) {
  .logo {
    margin-left: 46px;
  }
}